body {
    background: #263238;
    font-size: 14px;
    line-height: 1.6em;
}

img {
    vertical-align: middle;
}

a {
    color: rgb(38, 50, 56);
}

#home {
    font-size: 1.9em;
}

#main-container {
    padding-top: 76px;
}

#profile #avatar {
    height: 33px;
    width: 33px;
    margin: 10px;
    float: right;
}

#logo {
    cursor: pointer;
    text-align: center;
}
.weibo-user-name {
   
    text-decoration: blink;
    font-weight: bolder;
    color: rgb(23, 28, 31);
}

.weibo-user-name span {
    margin-left: 12px;
}

nav {
    height: 50px;
    line-height: 50px;
}

nav:hover #logo:after {
    position: absolute;
}

#nav-search {
    margin-top: 9px;
    width: 160px;
}

#nav-search input, #nav-search button {
    height: 35px
}

.card {
    border-radius: 6px
}

#weibos {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    width: 61.8%;
    margin-bottom: 0;
}

.weibo-container:nth-child(odd) {
    background: #EAEAEA;
    border-bottom: 1px solid rgba(38, 50, 56, 0.05);
}

.weibo-container {
    /* margin-top: 1px; */
}

.weibo-container:first-child {
    border-radius: 6px 6px 0 0;

}

.weibo-container:nth-child(even) {
    background: white;
    color: rgb(23, 28, 31);
    border-bottom: 1px solid rgba(38, 50, 56, 0.13);
}

nav {
    background: rgba(255, 255, 255, 0.92);
    outline: solid #1abc9c;
    width: 100%;
    z-index: 999;
    position: fixed;
    text-align: center;
}

.navbar-unread, .navbar-new {
    top: auto;
}

.weibo-header {
    padding: 24px 24px 0;

    color: rgb(38, 50, 56);
}

.weibo-avatar {
    width: 40px;
    height: 40px;
}

.weibo-text {
    padding-left: 24px;

    padding-right: 24px;
}

.weibo-images {
    font-size: 0;
    line-height: 100px;
    text-align: center;
}

.weibo-thumbnail-wapper {
    width: 100px;
    height: 100px;
    margin: 4px;
    background: rgba(38, 50, 56, 0.16);
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.weibo-thumbnail-wapper.image-large {
    width: 100%;
    height: auto;
    margin-left: 0;
}

.weibo-thumbnail {
    max-width: 100px;

    max-height: 100px;
}

.weibo-thumbnail-wapper.image-large .weibo-thumbnail {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
}

.nested-weibo {
    position: relative;
    background: #94A9B3;
    padding-bottom: 1px;
}

.nested-weibo:before {
    top: -10px;
    left: 30px;
    position: absolute;
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #94A9B3;
}

.weibo-operations {
    margin: 12px 24px;

    text-align: right;
}

#load-more {
    display: block;
    margin: 0 auto 6.3%;

    width: 61.8%;
    max-width: 720px;
    background: rgb(84, 110, 122);
    color: white;
    padding: 24px;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

@media (max-width: 720px) {
    #weibos {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        min-width: none;
    }

    #load-more {
        margin-top: 34px;

        border-radius: 6px;
    }

    nav {
        width: 480px;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        position: fixed;
        z-index: 999;
        outline: solid 4px rgb(84, 110, 122);
    }
}