body {
    background: #263238;
    font-size: 14px;
    line-height: 1.6em;
}

img {
    vertical-align: middle;
}

a {
    color: rgb(132, 47, 107);
}

#home {
    font-size: 2.4em;
    font-family: lithe;
    text-decoration: blink;
    vertical-align: -webkit-baseline-middle;
}

#profile #avatar {
    height: 33px;
    width: 33px;
    margin: 10px;
    float: right;
}

#logo {
    cursor: pointer;
    text-align: center;
}
.weibo-user-name {
   
    text-decoration: blink;
    font-weight: bolder;
    color: rgb(23, 28, 31);
}

.weibo-user-name span {
    margin-left: 12px;
}

nav {
    height: 50px;
    line-height: 50px;
}

nav:hover #logo:after {
    position: absolute;
}

#nav-search {
    margin-top: 9px;
    width: 160px;
}

#nav-search input, #nav-search button {
    height: 35px
}

.card {
    border-radius: 6px
}

nav {
    background: rgba(255, 255, 255, 0.92);
    width: 100%;
    z-index: 999;
    position: fixed;
    text-align: center;
    transition: top 0.4s;
    top: 0;
}

nav > progress {
    width: 100%;
}

.nav-hide {
    top: -50px;
}

.navbar-unread, .navbar-new {
    top: auto;
}

.weibo-header {
    padding: 24px 24px 0;

    color: rgb(38, 50, 56);
}

.weibo-avatar {
    width: 40px;
    height: 40px;
}

.weibo-text {
    padding-left: 24px;

    padding-right: 24px;
}

.weibo-images {
    font-size: 0;
    line-height: 100px;
    text-align: center;
}

.weibo-thumbnail-wapper {
    width: 100px;
    height: 100px;
    margin: 4px;
    background: rgba(38, 50, 56, 0.16);
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.weibo-thumbnail-wapper.image-large {
    width: 100%;
    height: auto;
    margin-left: 0;
}

.weibo-thumbnail {
    max-width: 100px;

    max-height: 100px;
}

.weibo-thumbnail-wapper.image-large .weibo-thumbnail {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
}





.comments > ul {
    padding: 12px 0;
    
}

.comments li {
    padding: 12px 24px;
}



.no-shadow {
    box-shadow: none!important;
}

ol.indicator {
    width: 100%;
    line-height: 0;
    background: rgba(38, 50, 56, 0.44);
    padding: 0;
}

.indicator > li {
    padding-bottom: 8%;
    width: 8%;
    margin: 1%;
    background-position: center;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat; 
}

.indicator > li.active {
    outline: 1px solid white;
}

.blueimp-gallery-carousel > .slides {
    position: relative!important;
}

.blueimp-gallery-carousel {
    padding: 0!important;
}

@media (max-width: 720px) {
    #weibos, #load-more {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        min-width: none;
    }
}
